.rooms-label_crimson {
  border-color: crimson;
}

.rooms-label_salmon {
  border-color: salmon;
}

.rooms-label_pink {
  border-color: pink;
}

.rooms-label_coral {
  border-color: coral;
}

.rooms-label_khaki {
  border-color: khaki;
}

.rooms-label_plum {
  border-color: plum;
}

.rooms-label_purple {
  border-color: purple;
}

.rooms-label_wheat {
  border-color: wheat;
}

.rooms-label_brown {
  border-color: brown;
}