@import "../../../UI/TextArea/text-area";

.controls {
  display: flex;
  min-height: 5vh;
  max-height: 20vh;
  align-items: end;

  & .controls__message-input {
    width: 90%;
    height: auto;
    resize: none;
    padding: 0.3em;
  }

  & .controls__buttons-wrapper {
    display: flex;
    align-items: center;
    width: 10%;
    height: 100%;
    padding: 0 1%;

    & .controls__submit-button {
      display: flex;
      align-items: center;
      position: relative;
      width: 1.5vw;
      height: 1.5vw;
      background-color: rgba(0, 0, 0, 0);
      margin: 0 1%;
      border: none;

      & img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
      }
    }
  }
}