@import "../../../UI/TextArea/text-area";

.controls {
  display: flex;
  min-height: 5vh;
  max-height: 20vh;
  align-items: end;

  & .controls__message-input {
    width: 90%;
    height: auto;
    resize: none;
    padding: 0.3em;
  }

  & .controls__buttons-wrapper {
    display: flex;
    align-items: center;
    width: 10%;
    height: 100%;

    & .controls__submit-button {
      height: auto;
      margin: 0 auto 0 auto;
    }
  }
}