@import "../../variables";

.get-room-join-token-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: $dialog_background_color;
  animation: display-animation ease-out 200ms forwards;

  & .get-room-join-token-dialog__content {
    opacity: 1;
    z-index: 1;
    width: 25%;
    background-color: $dialog_content_background_color;
    border: 0.1vw solid $dialog_content_border_color;
    border-radius: 0.5vw;

    & .get-room-join-token-dialog__content__header {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1%;
      overflow: hidden;

      & .get-room-join-token-dialog__content__header__title {
        font-size: $dialog_header_font_size;
        max-width: 100%;
        white-space: nowrap;
      }
    }

    & .get-room-join-token-dialog__content__body {
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      padding: 0 2%;

      & .get-room-join-token-dialog__content__body__title {
        width: 90%;
        max-width: 90%;
        margin: 1% 0;
        word-wrap: break-word;
        text-indent: 5%;
      }

      & .get-room-join-token-dialog__content__body__title_small {
        width: 100%;
        max-width: 90%;
        margin: 2% 0 1% 0;
        word-wrap: break-word;
        text-align: center;
        font-size: $dialog_body_small_font_size;
      }
    }

    & .get-room-join-token-dialog__content__footer {
      display: flex;
      justify-content: end;
      align-items: center;
      padding: 1%;

      & .get-room-join-token-dialog__content__footer__button {
        margin: 2%;
        padding: 1% 2%;
        font-size: $dialog_footer_font_size;
        border: none;
        border-radius: 0.3em;
        background-color: inherit;
        outline: none;
      }

      & .get-room-join-token-dialog__content__footer__button.main-button {
        background-color: $dialog_main_button_background_color;
        color: $dialog_content_background_color;
      }
    }
  }
}

@keyframes display-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}