@import "../variables";
@import "RoomChat/room-chat";
@import "RoomUsersList/UserLabel/user-label";
@import "RoomMusic/room-music";
@import "RoomUsersList/RoomUserEditDialog/room-user-edit-dialog";
@import "GetRoomJoinTokenDialog/get-room-join-token-dialog";

.room {
  display: flex;
  width: 100%;
  flex-grow: 1;
  align-items: stretch;

  & .room__room-music {
    width: 27%;
    max-width: 27%;
    background-color: $room_music_background_color;
  }

  & .room__chat {
    width: 53%;
    max-width: 53%;
  }

  & .room__users {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    max-width: 20%;
    background-color: $room_users_background_color;

    & .users__user-label {
      margin: 0.2%;
    }
  }
}