@import "../../../../variables";

.music-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  height: 1.5em;
  padding: 2%;

  & .music-list-item__description {
    width: 80%;
    overflow: hidden;

    & > * {
      white-space: nowrap;
      overflow: hidden;

      @media (min-width: 1360px) {
        & {
          font-size: $music_list_item_font_size_b;
        }
      }
      @media (min-width: 700px) and (max-width: 1359px) {
        & {
          font-size: $music_list_item_font_size_m;
        }
      }
      @media (max-width: 699px) {
        & {
          font-size: $music_list_item_font_size_s;
        }
      }
    }
  }

  & .music-list-item__controls {
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
    width: 20%;

    & * {
      margin: 0 5%;
    }

    & .icon-button {
      width: 1.5vw;
      height: 1.5vw;
    }
  }
}

.music-list-item_current {
  background-color: $room_music_current_music_background_color;
}