@import "../../../../variables";

.music-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  width: 90%;
  height: 1.5em;
  padding: 2%;

  & .music-list-item__description {
    width: 80%;
    overflow: hidden;

    & * {
      white-space: nowrap;
      overflow: hidden;
    }
  }

  & .music-list-item__controls {
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
    width: 20%;

    & .music-list-item__controls__button {
      display: flex;
      align-items: center;
      position: relative;
      width: 1.5vw;
      height: 1.5vw;
      background-color: rgba(0, 0, 0, 0);
      margin: 0 1%;
      border: none;

      & img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
      }
    }
  }
}

.music-list-item_current {
  background-color: $room_music_current_music_background_color;
}