@import "RoomChatControls/room-chat-controls";
@import "RoomChatMessage/room-chat-message";
@import "RoomChatMessagesList/room-chat-messages-list";

.room__chat {
  display: flex;
  flex-direction: column;

  & .chat__messages {
    height: 90%;
    max-height: 89vh;
  }

  & .chat__controls {
    height: 5%;
    margin: 0 2%;
    max-height: 5vh;
  }
}