$loading_spinner_color: #4f4f4f;
$loading_spinner_triangle_color: #151515;

.loading-spinner {
  position: relative;
  width: 2vw;
  height: 2vw;
  border-radius: 100%;
  border: 0.24vw solid $loading_spinner_color;

  & .loading-spinner__triangle {
    z-index: 1;
    position: absolute;
    right: -0.24vw;
    top: 0;
    transform-origin: left;
    border-left: 0 solid transparent;
    border-right: 1.25vw solid $loading_spinner_triangle_color;
    border-bottom: 1vw solid transparent;
    border-top: 1vw solid transparent;
    animation: animation-logo-spinner 1.2s ease;
    animation-iteration-count: infinite;
  }
}

@keyframes animation-spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}