.user-label_crimson {
  border-color: crimson;
  & > p {
    color: crimson;
  }
}

.user-label_salmon {
  border-color: salmon;
  & > p {
    color: salmon;
  }
}

.user-label_pink {
  border-color: pink;
  & > p {
    color: pink;
  }
}

.user-label_coral {
  border-color: coral;
  & > p {
    color: coral;
  }
}

.user-label_khaki {
  border-color: khaki;
  & > p {
    color: khaki;
  }
}

.user-label_plum {
  border-color: plum;
  & > p {
    color: plum;
  }
}

.user-label_purple {
  border-color: purple;
  & > p {
    color: purple;
  }
}

.user-label_wheat {
  border-color: wheat;
  & > p {
    color: wheat;
  }
}

.user-label_brown {
  border-color: brown;
  & > p {
    color: brown;
  }
}