@import "../../../variables";

.user-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 1.5em;
  padding: 2%;
  border-style: solid;
  border-width: 0.1em;
  border-radius: 0.1em;
  background-color: $users_labels_background_color;
  opacity: 0.5;

  & p {
    color: inherit;
    @media (min-width: 1360px) {
      & {
        font-size: $user_list_item_font_size_b;
      }
    }
    @media (min-width: 700px) and (max-width: 1359px) {
      & {
        font-size: $user_list_item_font_size_m;
      }
    }
    @media (max-width: 699px) {
      & {
        font-size: $user_list_item_font_size_s;
      }
    }
  }
}

.user-label.user-label_online {
  opacity: 1;
}
