@import "../../../../variables";

.edit-playlist-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: $dialog_background_color;
  animation: display-animation ease-out 200ms forwards;

  & .edit-playlist-dialog__content {
    width: 90%;
    max-height: 72%;
    height: 72%;
    opacity: 1;
    z-index: 2;
    background-color: $dialog_content_background_color;
    border: 0.1vw solid $dialog_content_border_color;
    border-radius: 0.5vw;

    & .loading-spinner__wrapper {
      background-color: $dialog_content_background_color;

      & .loading-spinner__triangle {
        border-right-color: $dialog_content_background_color;
      }
    }

    & .edit-playlist-dialog__content__header {
      display: flex;
      height: 6%;
      justify-content: center;
      align-items: center;
      padding: 1%;
      overflow: hidden;

      & .edit-playlist-dialog__content__header__title {
        font-size: $dialog_header_font_size;
        max-width: 100%;
        white-space: nowrap;
      }
    }

    & .edit-playlist-dialog__content__body {
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      padding: 0 4% 2% 4%;
      height: 8%;

      & .edit-playlist-dialog__content__body__title {
        width: 90%;
        margin: 2% 0;
      }

      & .edit-playlist-dialog__content__body__input {
        width: 90%;
        padding: 0.5%;
        background-color: inherit;
        border: 0.1vw solid $dialog_input_border_color;
        box-shadow: none;
        outline: none;
        transition: border-color 200ms ease-out;
        font-size: $dialog_body_font_size;

        &:focus {
          border-color: $dialog_input_focus_border_color;
        }
      }

      & .clr-field {
        width: 40%;
        height: 4vh;
        margin-top: 1%;

        button {
          width: 100%;
          height: 100%;
        }

        .input-coloris {
          width: 100%;
          height: 100%;
          background-color: inherit;
          border: none;
          outline: none;
        }
      }
    }

    & .music-list {
      margin: 4% 0 0 0;
      height: 71%;
    }

    & .edit-playlist-dialog__content__footer {
      display: flex;
      justify-content: end;
      align-items: center;
      padding: 1%;

      & .edit-playlist-dialog__content__footer__button {
        margin: 2%;
        padding: 1% 2%;
        font-size: $dialog_footer_font_size;
        border: none;
        border-radius: 0.3em;
        background-color: inherit;
        outline: none;
      }

      & .edit-playlist-dialog__content__footer__button.main-button {
        background-color: $dialog_main_button_background_color;
        color: $dialog_content_background_color;
      }
    }
  }
}

@keyframes display-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}