@import "../variables";

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $sidebar_background_color;
  min-width: 5%;
  min-height: 100vh;

  & * {
    margin: 0.5%;
  }

  & .sidebar__button {
    cursor: pointer;
    width: 2.3vw;
    height: 2.3vw;
  }
}