.header {
  display: flex;
  align-items: center;
  justify-content: right;
  background-color: #111111;
  max-height: 60px;
  min-height: 6vh;
}
.header * {
  margin: 0.5%;
}
.header a {
  text-decoration: none;
  font-size: 18px;
  color: #b2b3b3;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #000000;
  min-width: 12%;
  min-height: 100vh;
}
.sidebar * {
  margin: 0.5%;
}

.rooms-label_crimson {
  border-color: crimson;
}

.rooms-label_salmon {
  border-color: salmon;
}

.rooms-label_pink {
  border-color: pink;
}

.rooms-label_coral {
  border-color: coral;
}

.rooms-label_khaki {
  border-color: khaki;
}

.rooms-label_plum {
  border-color: plum;
}

.rooms-label_purple {
  border-color: purple;
}

.rooms-label_wheat {
  border-color: wheat;
}

.rooms-label_brown {
  border-color: brown;
}

.rooms-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10%;
  height: 6%;
  margin: 1%;
  padding: 3%;
  background-color: #3c3c3c;
  color: #b2b3b3;
  border-style: solid;
  border-width: 0.3em;
  border-radius: 0.3em;
}

.rooms {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  width: 100%;
}

.wrapper {
  min-height: 100vh;
}
.wrapper .main {
  min-height: 100vh;
  background-color: #1e1e1e;
}
.wrapper .main .content {
  display: flex;
  flex-grow: 1;
}

.ui-textarea {
  background-color: #2d2d2d;
  border-color: #4f4f4f;
  transition: border-color ease-out 0.5s;
}

.ui-textarea::-webkit-scrollbar {
  width: 7px;
  border-radius: 5px;
}

.ui-textarea::-webkit-scrollbar-track {
  background-color: #323232;
}

.ui-textarea::-webkit-scrollbar-thumb {
  background-color: #0f0f0f;
  border-radius: 5px;
}

.ui-textarea:focus {
  outline: none;
  border-color: #7a7a7a;
}

.chat__controls {
  display: flex;
  min-height: 5vh;
  max-height: 20vh;
  margin: 0 2%;
  align-items: end;
}
.chat__controls .controls__message-input {
  width: 90%;
  height: auto;
  resize: none;
}
.chat__controls .controls__buttons-wrapper {
  display: flex;
  align-items: center;
  width: 10%;
  height: 100%;
}
.chat__controls .controls__buttons-wrapper .controls__submit-button {
  height: auto;
  margin: 0 auto 0 auto;
}

.message_crimson .meta__owner {
  color: crimson;
}

.message_salmon .meta__owner {
  color: salmon;
}

.message_pink .meta__owner {
  color: pink;
}

.message_coral .meta__owner {
  color: coral;
}

.message_khaki .meta__owner {
  color: khaki;
}

.message_plum .meta__owner {
  color: plum;
}

.message_purple .meta__owner {
  color: purple;
}

.message_wheat .meta__owner {
  color: wheat;
}

.message_brown .meta__owner {
  color: brown;
}

.message {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #b2b3b3;
  margin: 1% 0;
}
.message .message__meta {
  display: flex;
  align-items: center;
}
.message .message__meta > * {
  margin: 0.3% 1%;
}
.message .message__meta .meta__owner {
  font-size: 20px;
}
.message .message__meta .meta__time {
  font-size: 14px;
}
.message .message__text {
  word-break: break-all;
  padding: 0 1%;
}

.messages {
  padding: 1%;
  overflow-y: auto;
}

.messages::-webkit-scrollbar {
  width: 10px;
}

.messages::-webkit-scrollbar-track {
  background-color: #323232;
  border-radius: 10px;
}

.messages::-webkit-scrollbar-thumb {
  background-color: #0f0f0f;
  border-radius: 10px;
}

.room__chat {
  display: flex;
  flex-direction: column;
}
.room__chat .chat__messages {
  height: 90%;
  max-height: 85vh;
}
.room__chat .chat__controls {
  height: 5%;
  max-height: 5vh;
}

.user-label_crimson {
  border-color: crimson;
}
.user-label_crimson > p {
  color: crimson;
}

.user-label_salmon {
  border-color: salmon;
}
.user-label_salmon > p {
  color: salmon;
}

.user-label_pink {
  border-color: pink;
}
.user-label_pink > p {
  color: pink;
}

.user-label_coral {
  border-color: coral;
}
.user-label_coral > p {
  color: coral;
}

.user-label_khaki {
  border-color: khaki;
}
.user-label_khaki > p {
  color: khaki;
}

.user-label_plum {
  border-color: plum;
}
.user-label_plum > p {
  color: plum;
}

.user-label_purple {
  border-color: purple;
}
.user-label_purple > p {
  color: purple;
}

.user-label_wheat {
  border-color: wheat;
}
.user-label_wheat > p {
  color: wheat;
}

.user-label_brown {
  border-color: brown;
}
.user-label_brown > p {
  color: brown;
}

.user-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 1.5em;
  padding: 2%;
  border-style: solid;
  border-width: 0.1em;
  border-radius: 0.1em;
  background-color: #3c3c3c;
}

.music-search-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 1.5em;
  padding: 2%;
}
.music-search-list-item .music-search-list-item__description {
  width: 80%;
  overflow: hidden;
}
.music-search-list-item .music-search-list-item__description * {
  white-space: nowrap;
  overflow: hidden;
}
.music-search-list-item .music-search-list-item__controls {
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
  width: 20%;
}
.music-search-list-item .music-search-list-item__controls .music-search-list-item__controls__add-music-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0;
  border-width: 0;
  background-color: rgba(0, 0, 0, 0);
}
.music-search-list-item .music-search-list-item__controls .music-search-list-item__controls__add-music-button img {
  width: 2.5vh;
  height: 2.5vh;
}

.music-search-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.music-search-list .music-search-list__music-search-list-item {
  width: 90%;
  position: relative;
  margin: 1% 0 1% 0;
  transition: margin 200ms ease-out;
}
.music-search-list .music-search-list__music-search-list-item:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0.5%;
  top: 0;
  background-color: #4f4f4f;
  transition: width 200ms ease-out;
}
.music-search-list .music-search-list__music-search-list-item:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0.5%;
  bottom: 0;
  background-color: #4f4f4f;
  transition: width 200ms ease-out;
}
.music-search-list .music-search-list__music-search-list-item:hover {
  margin: 2% 0 2% 0;
}
.music-search-list .music-search-list__music-search-list-item:hover:before {
  width: 100%;
}
.music-search-list .music-search-list__music-search-list-item:hover:after {
  width: 100%;
}

.music-search {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.music-search .music-search-controls {
  display: flex;
  width: 100%;
  justify-content: start;
  margin: 1% 0 1% 0;
}
.music-search .music-search-controls .music-search-controls__query-input {
  width: 90%;
  height: auto;
  resize: none;
}

.music-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 1.5em;
  padding: 2%;
}
.music-list-item .music-list-item__description {
  width: 80%;
  overflow: hidden;
}
.music-list-item .music-list-item__description * {
  white-space: nowrap;
  overflow: hidden;
}
.music-list-item .music-list-item__controls {
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
  width: 20%;
}

.music-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.music-list .music-list__music-list-item {
  width: 90%;
  position: relative;
  margin: 1% 0 1% 0;
  transition: margin 200ms ease-out;
}
.music-list .music-list__music-list-item:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0.5%;
  top: 0;
  background-color: #4f4f4f;
  transition: width 200ms ease-out;
}
.music-list .music-list__music-list-item:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0.5%;
  bottom: 0;
  background-color: #4f4f4f;
  transition: width 200ms ease-out;
}
.music-list .music-list__music-list-item:hover {
  margin: 2% 0 2% 0;
}
.music-list .music-list__music-list-item:hover:before {
  width: 100%;
}
.music-list .music-list__music-list-item:hover:after {
  width: 100%;
}

.room {
  display: flex;
  width: 100%;
  flex-grow: 1;
  align-items: stretch;
}
.room .room__room-music {
  width: 27%;
  background-color: #151515;
}
.room .room__chat {
  width: 53%;
}
.room .room__users {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  background-color: #151515;
}
.room .room__users .users__user-label {
  margin: 0.2%;
}

.ui-textarea {
  background-color: #2d2d2d;
  border-color: #4f4f4f;
  transition: border-color ease-out 0.5s;
}

.ui-textarea::-webkit-scrollbar {
  width: 7px;
  border-radius: 5px;
}

.ui-textarea::-webkit-scrollbar-track {
  background-color: #323232;
}

.ui-textarea::-webkit-scrollbar-thumb {
  background-color: #0f0f0f;
  border-radius: 5px;
}

.ui-textarea:focus {
  outline: none;
  border-color: #7a7a7a;
}

.chat__controls {
  display: flex;
  min-height: 5vh;
  max-height: 20vh;
  margin: 0 2%;
  align-items: end;
}
.chat__controls .controls__message-input {
  width: 90%;
  height: auto;
  resize: none;
}
.chat__controls .controls__buttons-wrapper {
  display: flex;
  align-items: center;
  width: 10%;
  height: 100%;
}
.chat__controls .controls__buttons-wrapper .controls__submit-button {
  height: auto;
  margin: 0 auto 0 auto;
}

.message_crimson .meta__owner {
  color: crimson;
}

.message_salmon .meta__owner {
  color: salmon;
}

.message_pink .meta__owner {
  color: pink;
}

.message_coral .meta__owner {
  color: coral;
}

.message_khaki .meta__owner {
  color: khaki;
}

.message_plum .meta__owner {
  color: plum;
}

.message_purple .meta__owner {
  color: purple;
}

.message_wheat .meta__owner {
  color: wheat;
}

.message_brown .meta__owner {
  color: brown;
}

.message {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #b2b3b3;
  margin: 1% 0;
}
.message .message__meta {
  display: flex;
  align-items: center;
}
.message .message__meta > * {
  margin: 0.3% 1%;
}
.message .message__meta .meta__owner {
  font-size: 20px;
}
.message .message__meta .meta__time {
  font-size: 14px;
}
.message .message__text {
  word-break: break-all;
  padding: 0 1%;
}

.messages {
  padding: 1%;
  overflow-y: auto;
}

.messages::-webkit-scrollbar {
  width: 10px;
}

.messages::-webkit-scrollbar-track {
  background-color: #323232;
  border-radius: 10px;
}

.messages::-webkit-scrollbar-thumb {
  background-color: #0f0f0f;
  border-radius: 10px;
}

.room__chat {
  display: flex;
  flex-direction: column;
}
.room__chat .chat__messages {
  height: 90%;
  max-height: 85vh;
}
.room__chat .chat__controls {
  height: 5%;
  max-height: 5vh;
}

@font-face {
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
  src: local("Verdana"), url("../src/fonts/Verdana.ttf") format("ttf");
}
* {
  margin: 0;
  text-decoration: none;
  font-family: Verdana, sans-serif;
  color: #b2b3b3;
}

.wrapper {
  display: flex;
  align-items: flex-start;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
