.header {
  display: flex;
  align-items: center;
  background-image: url("/source/images/header-background.jpg");
  height: 6vh;
  width: 100%;
}
.header .header__content {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #111111, #111111 25%, rgba(17, 17, 17, 0.3)), linear-gradient(to left, #111111, #111111 25%, rgba(17, 17, 17, 0.3));
}
.header .header__content .header__content__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 3vw;
  height: 3vw;
  margin: 0 0.1vw 0 5vw;
}
.header .header__content .header__content__logo img {
  width: 85%;
  height: auto;
}
.header .header__content .header__content__article {
  font-family: Aquire, sans-serif;
}
@media (min-width: 1360px) {
  .header .header__content .header__content__article {
    font-size: 28px;
  }
}
@media (min-width: 700px) and (max-width: 1359px) {
  .header .header__content .header__content__article {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .header .header__content .header__content__article {
    font-size: 4px;
  }
}
.header .header__content .header__links {
  display: flex;
  margin-left: auto;
  justify-content: end;
  align-items: center;
}
.header .header__content .header__links .header__links__link {
  display: flex;
  align-items: center;
  padding: 0 0.8vw;
}
.header .header__content .header__links .header__links__link a {
  text-decoration: none;
}
@media (min-width: 1360px) {
  .header .header__content .header__links .header__links__link a {
    font-size: 20px;
  }
}
@media (min-width: 700px) and (max-width: 1359px) {
  .header .header__content .header__links .header__links__link a {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .header .header__content .header__links .header__links__link a {
    font-size: 6px;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #1d1d1d linear-gradient(to top, #111111, #111111 1%, rgba(17, 17, 17, 0.1));
  min-width: 4vw;
  max-width: 4vw;
  min-height: 90vh;
  max-height: 90vh;
  padding-bottom: 4vh;
}
.sidebar * {
  margin: 0.5%;
}
.sidebar .sidebar__button {
  cursor: pointer;
  width: 2.3vw;
  height: 2.3vw;
  margin: 2vh 0;
}
.sidebar .sidebar__room-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.4vh 0;
  margin: 0;
  background-color: #141414;
  border-bottom-left-radius: 3vw;
  border-bottom-right-radius: 3vw;
  animation: room-buttons-animation 2000ms ease-out;
  animation-fill-mode: forwards;
  overflow: hidden;
}

@keyframes room-buttons-animation {
  from {
    max-height: 0;
  }
  to {
    max-height: 50vh;
  }
}
.rooms-label_crimson {
  border-color: crimson;
}

.rooms-label_salmon {
  border-color: salmon;
}

.rooms-label_pink {
  border-color: pink;
}

.rooms-label_coral {
  border-color: coral;
}

.rooms-label_khaki {
  border-color: khaki;
}

.rooms-label_plum {
  border-color: plum;
}

.rooms-label_purple {
  border-color: purple;
}

.rooms-label_wheat {
  border-color: wheat;
}

.rooms-label_brown {
  border-color: brown;
}

.rooms-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10%;
  height: 6%;
  padding: 3%;
  background-image: url("/source/images/room-label-background.jpg");
  box-shadow: inset 0 0 4vw 5vw rgba(6, 6, 6, 0.8);
  color: #b2b3b3;
  border-style: solid;
  border-width: 0.3em;
  border-radius: 0.3em;
}
@media (min-width: 1360px) {
  .rooms-label * {
    font-size: 16px;
  }
}
@media (min-width: 700px) and (max-width: 1359px) {
  .rooms-label * {
    font-size: 10px;
  }
}
@media (max-width: 500px) {
  .rooms-label * {
    font-size: 4px;
  }
}

.add-playlist-label {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.add-playlist-label img {
  width: 2vw;
  height: auto;
}

.add-room-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #0f0f0f;
  animation: display-animation ease-out 200ms forwards;
}
.add-room-dialog .add-room-dialog__content {
  opacity: 1;
  z-index: 1;
  width: 25%;
  background-color: #1e1e1e;
  border: 0.1vw solid #4f4f4f;
  border-radius: 0.5vw;
}
.add-room-dialog .add-room-dialog__content .add-room-dialog__content__header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  overflow: hidden;
}
.add-room-dialog .add-room-dialog__content .add-room-dialog__content__header .add-room-dialog__content__header__title {
  font-size: 22px;
  max-width: 100%;
  white-space: nowrap;
}
.add-room-dialog .add-room-dialog__content .add-room-dialog__content__body {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 0 2%;
}
.add-room-dialog .add-room-dialog__content .add-room-dialog__content__body .add-room-dialog__content__body__title {
  width: 90%;
  margin: 1% 0;
}
.add-room-dialog .add-room-dialog__content .add-room-dialog__content__body .add-room-dialog__content__body__input {
  width: 90%;
  padding: 0.5%;
  background-color: inherit;
  border: 0.1vw solid #4f4f4f;
  box-shadow: none;
  outline: none;
  transition: border-color 200ms ease-out;
  font-size: 18px;
}
.add-room-dialog .add-room-dialog__content .add-room-dialog__content__body .add-room-dialog__content__body__input:focus {
  border-color: #7a7a7a;
}
.add-room-dialog .add-room-dialog__content .add-room-dialog__content__body .clr-field {
  width: 40%;
  height: 4vh;
  margin-top: 1%;
}
.add-room-dialog .add-room-dialog__content .add-room-dialog__content__body .clr-field button {
  width: 100%;
  height: 100%;
}
.add-room-dialog .add-room-dialog__content .add-room-dialog__content__body .clr-field .input-coloris {
  width: 100%;
  height: 100%;
  background-color: inherit;
  border: none;
  outline: none;
}
.add-room-dialog .add-room-dialog__content .add-room-dialog__content__footer {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 1%;
}
.add-room-dialog .add-room-dialog__content .add-room-dialog__content__footer .add-room-dialog__content__footer__button {
  margin: 2%;
  padding: 1% 2%;
  font-size: 22px;
  border: none;
  border-radius: 0.3em;
  background-color: inherit;
  outline: none;
}
.add-room-dialog .add-room-dialog__content .add-room-dialog__content__footer .add-room-dialog__content__footer__button.main-button {
  background-color: #7a7a7a;
  color: #1e1e1e;
}

@keyframes display-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}
.join-room-label {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.join-room-label img {
  width: 2.5vw;
  height: auto;
}

.rooms {
  display: flex;
  justify-content: start;
  align-content: start;
  flex-wrap: wrap;
  width: 100%;
  background: linear-gradient(to top, #111111, #111111 1%, rgba(17, 17, 17, 0.1));
}
.rooms > * {
  margin: 1%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  position: relative;
}
.wrapper .main {
  display: flex;
  min-height: 94vh;
  background-color: #282828;
  width: 100%;
  max-width: 100%;
}
.wrapper .main .content {
  display: flex;
  flex-grow: 1;
}

.ui-textarea {
  background-color: #2d2d2d;
  border-color: #4f4f4f;
  transition: border-color ease-out 0.2s;
  border-width: 0.1vw;
}

.ui-textarea::-webkit-scrollbar {
  width: 7px;
  border-radius: 5px;
}

.ui-textarea::-webkit-scrollbar-track {
  background-color: #323232;
}

.ui-textarea::-webkit-scrollbar-thumb {
  background-color: #0f0f0f;
  border-radius: 5px;
}

.ui-textarea:focus {
  outline: none;
  border-color: #7a7a7a;
}

.controls {
  display: flex;
  min-height: 5vh;
  max-height: 20vh;
  justify-content: center;
  align-items: end;
}
.controls .controls__message-input {
  width: 96%;
  height: auto;
  resize: none;
  padding: 0.3em;
}
.controls .controls__buttons-wrapper {
  display: flex;
  align-items: center;
  width: 6%;
  height: 100%;
  padding: 0 1%;
}
.controls .controls__buttons-wrapper .icon-button {
  width: 1.5vw;
  height: 1.5vw;
  margin: 0 1%;
}

.message_crimson .meta__owner {
  color: crimson;
}

.message_salmon .meta__owner {
  color: salmon;
}

.message_pink .meta__owner {
  color: pink;
}

.message_coral .meta__owner {
  color: coral;
}

.message_khaki .meta__owner {
  color: khaki;
}

.message_plum .meta__owner {
  color: plum;
}

.message_purple .meta__owner {
  color: purple;
}

.message_wheat .meta__owner {
  color: wheat;
}

.message_brown .meta__owner {
  color: brown;
}

.icon-button {
  display: flex;
  align-items: center;
  position: relative;
  width: 1vw;
  height: 1vw;
  background-color: rgba(0, 0, 0, 0);
  margin: 0 1%;
  border: none;
}
.icon-button img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.message {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.message .message__meta {
  display: flex;
  align-items: center;
}
.message .message__meta > * {
  margin: 0.3% 1%;
}
.message .message__meta .meta__owner {
  font-size: 20px;
}
.message .message__meta .meta__time {
  font-size: 14px;
}
.message .message__text {
  word-break: break-all;
  padding: 0 1%;
}
.message .message__controls {
  position: absolute;
  right: 0;
  top: -5%;
  padding: 0.5%;
  background-color: #2d2d2d;
  border-radius: 15%;
}

.messages {
  overflow-y: auto;
}
.messages .messages__message {
  width: 96%;
  margin: 2%;
}

.messages::-webkit-scrollbar {
  width: 0.5vw;
}

.messages::-webkit-scrollbar-track {
  background-color: #323232;
  border-radius: 0.5vw;
}

.messages::-webkit-scrollbar-thumb {
  background-color: #0f0f0f;
  border-radius: 0.5vw;
}

.room__chat {
  display: flex;
  flex-direction: column;
}
.room__chat .chat__messages {
  height: 90%;
  max-height: 89vh;
}
.room__chat .chat__controls {
  height: 5%;
  margin: 0 2%;
  max-height: 5vh;
}

.user-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 1.5em;
  padding: 2%;
  border-style: solid;
  border-width: 0.1em;
  border-radius: 0.1em;
  background-color: #3c3c3c;
  opacity: 0.5;
}
.user-label p {
  color: inherit;
}
@media (min-width: 1360px) {
  .user-label p {
    font-size: 20px;
  }
}
@media (min-width: 700px) and (max-width: 1359px) {
  .user-label p {
    font-size: 10px;
  }
}
@media (max-width: 699px) {
  .user-label p {
    font-size: 5px;
  }
}

.user-label.user-label_online {
  opacity: 1;
}

.music-search-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 1.5em;
  padding: 2%;
}
.music-search-list-item .music-search-list-item__description {
  width: 80%;
  overflow: hidden;
}
.music-search-list-item .music-search-list-item__description * {
  white-space: nowrap;
  overflow: hidden;
}
.music-search-list-item .music-search-list-item__controls {
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
  width: 20%;
}
.music-search-list-item .music-search-list-item__controls .icon-button {
  width: 1.5vw;
  height: 1.5vw;
}

.music-search-list {
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}
.music-search-list .music-search-list__music-search-list-item {
  width: 90%;
  position: relative;
  margin: 1% 0 1% 0;
  transition: margin 200ms ease-out;
}
@media (min-width: 1360px) {
  .music-search-list .music-search-list__music-search-list-item {
    font-size: 20px;
  }
}
@media (min-width: 700px) and (max-width: 1359px) {
  .music-search-list .music-search-list__music-search-list-item {
    font-size: 10px;
  }
}
@media (max-width: 699px) {
  .music-search-list .music-search-list__music-search-list-item {
    font-size: 5px;
  }
}
.music-search-list .music-search-list__music-search-list-item:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0.5%;
  top: 0;
  background-color: #4f4f4f;
  transition: width 200ms ease-out;
}
.music-search-list .music-search-list__music-search-list-item:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0.5%;
  bottom: 0;
  background-color: #4f4f4f;
  transition: width 200ms ease-out;
}
.music-search-list .music-search-list__music-search-list-item:hover {
  margin: 2% 0 2% 0;
}
.music-search-list .music-search-list__music-search-list-item:hover:before {
  width: 100%;
}
.music-search-list .music-search-list__music-search-list-item:hover:after {
  width: 100%;
}
.music-search-list::-webkit-scrollbar {
  width: 0.5vw;
}
.music-search-list::-webkit-scrollbar-track {
  background-color: #323232;
  border-radius: 0.5vw;
}
.music-search-list::-webkit-scrollbar-thumb {
  background-color: #0f0f0f;
  border-radius: 0.5vw;
}

.icon-button {
  display: flex;
  align-items: center;
  position: relative;
  width: 1vw;
  height: 1vw;
  background-color: rgba(0, 0, 0, 0);
  margin: 0 1%;
  border: none;
}
.icon-button img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.music-search {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.music-search .music-search-controls {
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: center;
  margin: 1% 0 1% 0;
}
.music-search .music-search-controls .music-search-controls__query-input {
  width: 90%;
  height: auto;
  resize: none;
}
.music-search .music-search-controls .icon-button {
  width: 1.5vw;
  height: 1.5vw;
}

.music-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  height: 1.5em;
  padding: 2%;
}
.music-list-item .music-list-item__description {
  width: 80%;
  overflow: hidden;
}
.music-list-item .music-list-item__description > * {
  white-space: nowrap;
  overflow: hidden;
}
@media (min-width: 1360px) {
  .music-list-item .music-list-item__description > * {
    font-size: 20px;
  }
}
@media (min-width: 700px) and (max-width: 1359px) {
  .music-list-item .music-list-item__description > * {
    font-size: 10px;
  }
}
@media (max-width: 699px) {
  .music-list-item .music-list-item__description > * {
    font-size: 5px;
  }
}
.music-list-item .music-list-item__controls {
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
  width: 20%;
}
.music-list-item .music-list-item__controls * {
  margin: 0 5%;
}
.music-list-item .music-list-item__controls .icon-button {
  width: 1.5vw;
  height: 1.5vw;
}

.music-list-item_current {
  background-color: #1b1b1b;
}

.music-list {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.music-list .loading-spinner {
  position: absolute;
  animation: show-loading-animation 800ms ease-out;
  animation-fill-mode: forwards;
}
.music-list .scroll-view {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}
.music-list .scroll-view::-webkit-scrollbar {
  width: 0.5vw;
}
.music-list .scroll-view::-webkit-scrollbar-track {
  background-color: #323232;
  border-radius: 0.5vw;
}
.music-list .scroll-view::-webkit-scrollbar-thumb {
  background-color: #0f0f0f;
  border-radius: 0.5vw;
}
.music-list .music-list__music-list-item {
  width: 90%;
  position: relative;
  margin: 1% 0 1% 0;
  transition: margin 200ms ease-out;
}
.music-list .music-list__music-list-item:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0.5%;
  top: 0;
  background-color: #4f4f4f;
  transition: width 200ms ease-out;
}
.music-list .music-list__music-list-item:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0.5%;
  bottom: 0;
  background-color: #4f4f4f;
  transition: width 200ms ease-out;
}
.music-list .music-list__music-list-item:hover {
  margin: 2% 0 2% 0;
}
.music-list .music-list__music-list-item:hover:before {
  width: 100%;
}
.music-list .music-list__music-list-item:hover:after {
  width: 100%;
}

@keyframes show-loading-animation {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.volume-trackbar {
  padding: 0 1% 0 1%;
  display: flex;
  align-items: end;
  justify-content: center;
  position: relative;
}
.volume-trackbar .trackbar {
  position: absolute;
  padding-bottom: 60%;
  border: 0.5vw dashed rgba(0, 0, 0, 0);
}
.volume-trackbar .trackbar .noUi-target {
  display: flex;
  justify-content: center;
  background: none;
  border: none;
  box-shadow: none;
  height: 0;
  transition: height 200ms ease-in-out;
}
.volume-trackbar .trackbar .noUi-base {
  width: 0.3vw;
  border-radius: 10%;
  background-color: #4f4f4f;
}
.volume-trackbar .trackbar .noUi-connect {
  background-color: #b2b3b3;
}
.volume-trackbar .trackbar .noUi-handle {
  opacity: 0;
  width: 0.5vw;
  height: 0.5vw;
  right: -0.1vw;
  bottom: -0.25vw;
  border-radius: 100%;
  transition: opacity 100ms ease-out;
}
.volume-trackbar .trackbar .noUi-handle .noUi-touch-area {
  width: 200%;
  height: 200%;
}
.volume-trackbar .trackbar .noUi-handle::before, .volume-trackbar .trackbar .noUi-handle::after {
  display: none;
}
.volume-trackbar .volume-trackbar__icon-wrapper {
  position: relative;
  padding-top: 100%;
  width: 100%;
}
.volume-trackbar .volume-trackbar__icon-wrapper .volume-trackbar__icon-wrapper__icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.volume-trackbar:hover .noUi-target {
  height: 7vh;
}
.volume-trackbar:hover .noUi-handle {
  opacity: 1;
}

.timeline .trackbar {
  border: 0.6vw dashed rgba(0, 0, 0, 0);
}
.timeline .trackbar .noUi-target {
  height: auto;
}
.timeline .trackbar .noUi-base {
  height: 0.2vw;
  border-radius: 10%;
  background-color: #4f4f4f;
}
.timeline .trackbar .noUi-connect {
  background-color: #b2b3b3;
}
.timeline .trackbar .noUi-handle {
  width: 0.7vw;
  height: 0.7vw;
  top: -0.25vw;
  right: -0.35vw;
  border-radius: 100%;
}
.timeline .trackbar .noUi-touch-area {
  position: absolute;
  width: 1vw;
  height: 1vw;
  left: -0.25vw;
  top: -0.25vw;
}
.timeline .trackbar .noUi-handle::before, .timeline .trackbar .noUi-handle::after {
  display: none;
}

.icon-button {
  display: flex;
  align-items: center;
  position: relative;
  width: 1vw;
  height: 1vw;
  background-color: rgba(0, 0, 0, 0);
  margin: 0 1%;
  border: none;
}
.icon-button img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.music-player {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.music-player .volume-trackbar {
  width: 6%;
}
.music-player .timeline {
  width: 57%;
}
.music-player .music-player__info {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 60%;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}
.music-player .music-player__info * {
  margin: 0 2% 0 2%;
}
.music-player .music-player__info .music-player__info__logo {
  position: relative;
  width: 3vw;
  height: 3vw;
  background-color: rgba(0, 0, 0, 0);
  margin: 0 1%;
  border: none;
}
.music-player .music-player__info .music-player__info__logo img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}
.music-player .music-player__controls {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  padding: 0 2%;
}
.music-player .music-player__controls .icon-button {
  width: 1.5vw;
  height: 1.5vw;
  margin: 0 1%;
}
.music-player .music-player__controls .button_bordered {
  border-radius: 100%;
  border-width: 0.2vw;
  border-color: #4f4f4f;
  border-style: solid;
}

.add-room-label {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.add-room-label img {
  width: 1.7vw;
  height: auto;
}

.add-playlist-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: #0f0f0f;
  animation: display-animation ease-out 200ms forwards;
}
.add-playlist-dialog .add-playlist-dialog__content {
  width: 90%;
  opacity: 1;
  z-index: 2;
  background-color: #1e1e1e;
  border: 0.1vw solid #4f4f4f;
  border-radius: 0.5vw;
}
.add-playlist-dialog .add-playlist-dialog__content .add-playlist-dialog__content__header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  overflow: hidden;
}
.add-playlist-dialog .add-playlist-dialog__content .add-playlist-dialog__content__header .add-playlist-dialog__content__header__title {
  font-size: 22px;
  max-width: 100%;
  white-space: nowrap;
}
.add-playlist-dialog .add-playlist-dialog__content .add-playlist-dialog__content__body {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 0 4%;
}
.add-playlist-dialog .add-playlist-dialog__content .add-playlist-dialog__content__body .add-playlist-dialog__content__body__title {
  width: 90%;
  margin: 2% 0;
}
.add-playlist-dialog .add-playlist-dialog__content .add-playlist-dialog__content__body .add-playlist-dialog__content__body__input {
  width: 90%;
  padding: 0.5%;
  background-color: inherit;
  border: 0.1vw solid #4f4f4f;
  box-shadow: none;
  outline: none;
  transition: border-color 200ms ease-out;
  font-size: 18px;
}
.add-playlist-dialog .add-playlist-dialog__content .add-playlist-dialog__content__body .add-playlist-dialog__content__body__input:focus {
  border-color: #7a7a7a;
}
.add-playlist-dialog .add-playlist-dialog__content .add-playlist-dialog__content__body .clr-field {
  width: 40%;
  height: 4vh;
  margin-top: 1%;
}
.add-playlist-dialog .add-playlist-dialog__content .add-playlist-dialog__content__body .clr-field button {
  width: 100%;
  height: 100%;
}
.add-playlist-dialog .add-playlist-dialog__content .add-playlist-dialog__content__body .clr-field .input-coloris {
  width: 100%;
  height: 100%;
  background-color: inherit;
  border: none;
  outline: none;
}
.add-playlist-dialog .add-playlist-dialog__content .add-playlist-dialog__content__footer {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 1%;
}
.add-playlist-dialog .add-playlist-dialog__content .add-playlist-dialog__content__footer .add-playlist-dialog__content__footer__button {
  margin: 2%;
  padding: 1% 2%;
  font-size: 22px;
  border: none;
  border-radius: 0.3em;
  background-color: inherit;
  outline: none;
}
.add-playlist-dialog .add-playlist-dialog__content .add-playlist-dialog__content__footer .add-playlist-dialog__content__footer__button.main-button {
  background-color: #7a7a7a;
  color: #1e1e1e;
}

@keyframes display-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}
.playlists-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  width: 90%;
  height: 1.5em;
  padding: 2%;
}
.playlists-item .playlists-item__description {
  width: 80%;
  overflow: hidden;
}
.playlists-item .playlists-item__description * {
  white-space: nowrap;
  overflow: hidden;
}
.playlists-item .playlists-item__controls {
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
  width: 20%;
}
.playlists-item .playlists-item__controls .icon-button {
  width: 1.5vw;
  height: 1.5vw;
  margin: 0 1%;
}

.edit-playlist-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: #0f0f0f;
  animation: display-animation ease-out 200ms forwards;
}
.edit-playlist-dialog .edit-playlist-dialog__content {
  width: 90%;
  max-height: 72%;
  height: 72%;
  opacity: 1;
  z-index: 2;
  background-color: #1e1e1e;
  border: 0.1vw solid #4f4f4f;
  border-radius: 0.5vw;
}
.edit-playlist-dialog .edit-playlist-dialog__content .loading-spinner__wrapper {
  background-color: #1e1e1e;
}
.edit-playlist-dialog .edit-playlist-dialog__content .loading-spinner__wrapper .loading-spinner__triangle {
  border-right-color: #1e1e1e;
}
.edit-playlist-dialog .edit-playlist-dialog__content .edit-playlist-dialog__content__header {
  display: flex;
  height: 6%;
  justify-content: center;
  align-items: center;
  padding: 1%;
  overflow: hidden;
}
.edit-playlist-dialog .edit-playlist-dialog__content .edit-playlist-dialog__content__header .edit-playlist-dialog__content__header__title {
  font-size: 22px;
  max-width: 100%;
  white-space: nowrap;
}
.edit-playlist-dialog .edit-playlist-dialog__content .edit-playlist-dialog__content__body {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 0 4% 2% 4%;
  height: 8%;
}
.edit-playlist-dialog .edit-playlist-dialog__content .edit-playlist-dialog__content__body .edit-playlist-dialog__content__body__title {
  width: 90%;
  margin: 2% 0;
}
.edit-playlist-dialog .edit-playlist-dialog__content .edit-playlist-dialog__content__body .edit-playlist-dialog__content__body__input {
  width: 90%;
  padding: 0.5%;
  background-color: inherit;
  border: 0.1vw solid #4f4f4f;
  box-shadow: none;
  outline: none;
  transition: border-color 200ms ease-out;
  font-size: 18px;
}
.edit-playlist-dialog .edit-playlist-dialog__content .edit-playlist-dialog__content__body .edit-playlist-dialog__content__body__input:focus {
  border-color: #7a7a7a;
}
.edit-playlist-dialog .edit-playlist-dialog__content .edit-playlist-dialog__content__body .clr-field {
  width: 40%;
  height: 4vh;
  margin-top: 1%;
}
.edit-playlist-dialog .edit-playlist-dialog__content .edit-playlist-dialog__content__body .clr-field button {
  width: 100%;
  height: 100%;
}
.edit-playlist-dialog .edit-playlist-dialog__content .edit-playlist-dialog__content__body .clr-field .input-coloris {
  width: 100%;
  height: 100%;
  background-color: inherit;
  border: none;
  outline: none;
}
.edit-playlist-dialog .edit-playlist-dialog__content .music-list {
  margin: 4% 0 0 0;
  height: 71%;
}
.edit-playlist-dialog .edit-playlist-dialog__content .edit-playlist-dialog__content__footer {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 1%;
}
.edit-playlist-dialog .edit-playlist-dialog__content .edit-playlist-dialog__content__footer .edit-playlist-dialog__content__footer__button {
  margin: 2%;
  padding: 1% 2%;
  font-size: 22px;
  border: none;
  border-radius: 0.3em;
  background-color: inherit;
  outline: none;
}
.edit-playlist-dialog .edit-playlist-dialog__content .edit-playlist-dialog__content__footer .edit-playlist-dialog__content__footer__button.main-button {
  background-color: #7a7a7a;
  color: #1e1e1e;
}

@keyframes display-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}
.playlists {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}
.playlists .playlists__playlists-item {
  width: 90%;
  position: relative;
  margin: 1% 0 1% 0;
  transition: margin 200ms ease-out;
}
.playlists .playlists__playlists-item:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0.5%;
  top: 0;
  background-color: #4f4f4f;
  transition: width 200ms ease-out;
}
.playlists .playlists__playlists-item:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0.5%;
  bottom: 0;
  background-color: #4f4f4f;
  transition: width 200ms ease-out;
}
.playlists .playlists__playlists-item:hover {
  margin: 2% 0 2% 0;
}
.playlists .playlists__playlists-item:hover:before {
  width: 100%;
}
.playlists .playlists__playlists-item:hover:after {
  width: 100%;
}
.playlists::-webkit-scrollbar {
  width: 0.5vw;
}
.playlists::-webkit-scrollbar-track {
  background-color: #323232;
  border-radius: 0.5vw;
}
.playlists::-webkit-scrollbar-thumb {
  background-color: #0f0f0f;
  border-radius: 0.5vw;
}

.playlist-music-dialog-label {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  width: 90%;
  height: 1.5em;
  padding: 2%;
}
.playlist-music-dialog-label .playlist-music-dialog-label__description {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}
.playlist-music-dialog-label .playlist-music-dialog-label__description * {
  white-space: nowrap;
  overflow: hidden;
}

.add-playlist-music-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: #0f0f0f;
  animation: display-dialog-animation ease-out 200ms forwards;
}
.add-playlist-music-dialog .add-playlist-music-dialog__content {
  width: 90%;
  height: 60%;
  opacity: 1;
  z-index: 2;
  background-color: #1e1e1e;
  border: 0.1vw solid #4f4f4f;
  border-radius: 0.5vw;
}
.add-playlist-music-dialog .add-playlist-music-dialog__content .add-playlist-music-dialog__content__header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  overflow: hidden;
  height: 8%;
}
.add-playlist-music-dialog .add-playlist-music-dialog__content .add-playlist-music-dialog__content__header .add-playlist-music-dialog__content__header__title {
  font-size: 22px;
  max-width: 100%;
  white-space: nowrap;
}
.add-playlist-music-dialog .add-playlist-music-dialog__content .add-playlist-music-dialog__content__body {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 0 2%;
  width: 100%;
  height: 78%;
  overflow-y: auto;
  overflow-x: hidden;
}
.add-playlist-music-dialog .add-playlist-music-dialog__content .add-playlist-music-dialog__content__body::-webkit-scrollbar {
  width: 0.5vw;
}
.add-playlist-music-dialog .add-playlist-music-dialog__content .add-playlist-music-dialog__content__body::-webkit-scrollbar-track {
  background-color: #323232;
  border-radius: 0.5vw;
}
.add-playlist-music-dialog .add-playlist-music-dialog__content .add-playlist-music-dialog__content__body::-webkit-scrollbar-thumb {
  background-color: #0f0f0f;
  border-radius: 0.5vw;
}
.add-playlist-music-dialog .add-playlist-music-dialog__content .add-playlist-music-dialog__content__body .playlist-music-dialog-label {
  position: relative;
  transition: margin 200ms ease-out;
}
.add-playlist-music-dialog .add-playlist-music-dialog__content .add-playlist-music-dialog__content__body .playlist-music-dialog-label.playlist-music-dialog-label_target {
  background-color: #4f4f4f;
}
.add-playlist-music-dialog .add-playlist-music-dialog__content .add-playlist-music-dialog__content__body .playlist-music-dialog-label:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0.5%;
  top: 0;
  background-color: #4f4f4f;
  transition: width 200ms ease-out;
}
.add-playlist-music-dialog .add-playlist-music-dialog__content .add-playlist-music-dialog__content__body .playlist-music-dialog-label:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0.5%;
  bottom: 0;
  background-color: #4f4f4f;
  transition: width 200ms ease-out;
}
.add-playlist-music-dialog .add-playlist-music-dialog__content .add-playlist-music-dialog__content__body .playlist-music-dialog-label:hover {
  margin: 2% 0 2% 0;
}
.add-playlist-music-dialog .add-playlist-music-dialog__content .add-playlist-music-dialog__content__body .playlist-music-dialog-label:not(.playlist-music-dialog-label_target):hover:before {
  width: 100%;
}
.add-playlist-music-dialog .add-playlist-music-dialog__content .add-playlist-music-dialog__content__body .playlist-music-dialog-label:not(.playlist-music-dialog-label_target):hover:after {
  width: 100%;
}
.add-playlist-music-dialog .add-playlist-music-dialog__content .add-playlist-music-dialog__content__footer {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 1%;
}
.add-playlist-music-dialog .add-playlist-music-dialog__content .add-playlist-music-dialog__content__footer .add-playlist-music-dialog__content__footer__button {
  margin: 2%;
  padding: 1% 2%;
  font-size: 22px;
  border: none;
  border-radius: 0.3em;
  background-color: inherit;
  outline: none;
}
.add-playlist-music-dialog .add-playlist-music-dialog__content .add-playlist-music-dialog__content__footer .add-playlist-music-dialog__content__footer__button.main-button {
  background-color: #7a7a7a;
  color: #1e1e1e;
}

@keyframes display-dialog-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.98;
  }
}
.room-music {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  max-height: 94vh;
}
.room-music .room-music__loading-screen {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  width: 100%;
  height: 59vh;
  background-color: #0f0f0f;
  opacity: 0.9;
}
.room-music .room-music__navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 4%;
}
.room-music .room-music__navbar .room-music__navbar__link.active {
  background-color: #2d2d2d;
}
.room-music .room-music__navbar .room-music__navbar__link {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 2%;
  padding: 1% 2% 1% 2%;
  border-radius: 0.3em;
}
@media (min-width: 1360px) {
  .room-music .room-music__navbar .room-music__navbar__link {
    font-size: 22px;
  }
}
@media (min-width: 700px) and (max-width: 1359px) {
  .room-music .room-music__navbar .room-music__navbar__link {
    font-size: 16px;
  }
}
@media (max-width: 699px) {
  .room-music .room-music__navbar .room-music__navbar__link {
    font-size: 7px;
  }
}
.room-music .room-music__navbar .room-music__navbar__link:after {
  content: "";
  position: absolute;
  width: 0;
  height: 5%;
  bottom: 0;
  background-color: #2d2d2d;
  transition: width 200ms ease-out;
}
.room-music .room-music__navbar .room-music__navbar__link:not(.active):hover:after {
  width: 110%;
}
.room-music .room-music__routes {
  width: 100%;
  max-width: 100%;
  flex-grow: 1;
  max-height: 83%;
}
.room-music .room-music__routes .room-music__music-search {
  width: 100%;
  height: 100%;
}
.room-music .room-music__routes.room-music__routes_max-size {
  max-height: 91%;
}
.room-music .room-music__music-player {
  width: 100%;
  height: 13%;
  background-color: #151515;
}

.loading-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35vh;
}
.loading-screen .loading-screen__animation-logo {
  width: 4.8vw;
  height: 4.8vw;
  margin-bottom: 1vw;
}

.animation-logo {
  position: relative;
}
.animation-logo .animation-logo__circle {
  width: 4vw;
  height: 4vw;
  border-right: 0.4vw solid #4f4f4f;
  border-top: 0.4vw solid #4f4f4f;
  border-left: 0.4vw solid #4f4f4f;
  border-bottom: 0.4vw solid #4f4f4f;
  border-radius: 100%;
}
.animation-logo .animation-logo__circle:after {
  content: "";
  animation: animation-logo-spinner 1.5s ease;
  animation-iteration-count: infinite;
  transform-origin: left;
  position: absolute;
  right: 0;
  top: 1.4vw;
  width: 0;
  height: 0;
  border-top: 1vw solid transparent;
  border-right: 2.45vw solid #0f0f0f;
  border-bottom: 1vw solid transparent;
}

@keyframes animation-logo-spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.edit-user-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #0f0f0f;
  animation: display-animation ease-out 200ms forwards;
  z-index: 2;
}
.edit-user-dialog .edit-user-dialog__content {
  opacity: 1;
  z-index: 1;
  width: 25%;
  background-color: #1e1e1e;
  border: 0.1vw solid #4f4f4f;
  border-radius: 0.5vw;
}
.edit-user-dialog .edit-user-dialog__content .edit-user-dialog__content__header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  overflow: hidden;
}
.edit-user-dialog .edit-user-dialog__content .edit-user-dialog__content__header .edit-user-dialog__content__header__title {
  font-size: 22px;
  max-width: 100%;
  white-space: nowrap;
}
.edit-user-dialog .edit-user-dialog__content .edit-user-dialog__content__body {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 0 2%;
}
.edit-user-dialog .edit-user-dialog__content .edit-user-dialog__content__body .edit-user-dialog__content__body__title {
  width: 90%;
  margin: 1% 0;
}
.edit-user-dialog .edit-user-dialog__content .edit-user-dialog__content__body .edit-user-dialog__content__body__input {
  width: 90%;
  padding: 0.5%;
  background-color: inherit;
  border: 0.1vw solid #4f4f4f;
  box-shadow: none;
  outline: none;
  transition: border-color 200ms ease-out;
  font-size: 18px;
}
.edit-user-dialog .edit-user-dialog__content .edit-user-dialog__content__body .edit-user-dialog__content__body__input:focus {
  border-color: #7a7a7a;
}
.edit-user-dialog .edit-user-dialog__content .edit-user-dialog__content__body .clr-field {
  width: 40%;
  height: 4vh;
  margin-top: 1%;
}
.edit-user-dialog .edit-user-dialog__content .edit-user-dialog__content__body .clr-field button {
  width: 100%;
  height: 100%;
}
.edit-user-dialog .edit-user-dialog__content .edit-user-dialog__content__body .clr-field .input-coloris {
  width: 100%;
  height: 100%;
  background-color: inherit;
  border: none;
  outline: none;
}
.edit-user-dialog .edit-user-dialog__content .edit-user-dialog__content__footer {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 1%;
}
.edit-user-dialog .edit-user-dialog__content .edit-user-dialog__content__footer .edit-user-dialog__content__footer__button {
  margin: 2%;
  padding: 1% 2%;
  font-size: 22px;
  border: none;
  border-radius: 0.3em;
  background-color: inherit;
  outline: none;
}
.edit-user-dialog .edit-user-dialog__content .edit-user-dialog__content__footer .edit-user-dialog__content__footer__button.main-button {
  background-color: #7a7a7a;
  color: #1e1e1e;
}

@keyframes display-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}
.get-room-join-token-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #0f0f0f;
  animation: display-animation ease-out 200ms forwards;
}
.get-room-join-token-dialog .get-room-join-token-dialog__content {
  opacity: 1;
  z-index: 1;
  width: 25%;
  background-color: #1e1e1e;
  border: 0.1vw solid #4f4f4f;
  border-radius: 0.5vw;
}
.get-room-join-token-dialog .get-room-join-token-dialog__content .get-room-join-token-dialog__content__header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  overflow: hidden;
}
.get-room-join-token-dialog .get-room-join-token-dialog__content .get-room-join-token-dialog__content__header .get-room-join-token-dialog__content__header__title {
  font-size: 22px;
  max-width: 100%;
  white-space: nowrap;
}
.get-room-join-token-dialog .get-room-join-token-dialog__content .get-room-join-token-dialog__content__body {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 0 2%;
}
.get-room-join-token-dialog .get-room-join-token-dialog__content .get-room-join-token-dialog__content__body .get-room-join-token-dialog__content__body__title {
  width: 90%;
  max-width: 90%;
  margin: 1% 0;
  word-wrap: break-word;
  text-indent: 5%;
}
.get-room-join-token-dialog .get-room-join-token-dialog__content .get-room-join-token-dialog__content__body .get-room-join-token-dialog__content__body__title_small {
  width: 100%;
  max-width: 90%;
  margin: 2% 0 1% 0;
  word-wrap: break-word;
  text-align: center;
  font-size: 14px;
}
.get-room-join-token-dialog .get-room-join-token-dialog__content .get-room-join-token-dialog__content__footer {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 1%;
}
.get-room-join-token-dialog .get-room-join-token-dialog__content .get-room-join-token-dialog__content__footer .get-room-join-token-dialog__content__footer__button {
  margin: 2%;
  padding: 1% 2%;
  font-size: 22px;
  border: none;
  border-radius: 0.3em;
  background-color: inherit;
  outline: none;
}
.get-room-join-token-dialog .get-room-join-token-dialog__content .get-room-join-token-dialog__content__footer .get-room-join-token-dialog__content__footer__button.main-button {
  background-color: #7a7a7a;
  color: #1e1e1e;
}

@keyframes display-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}
.room {
  display: flex;
  width: 100%;
  flex-grow: 1;
  align-items: stretch;
}
.room .room__room-music {
  width: 27%;
  max-width: 27%;
  background-color: #151515;
}
.room .room__chat {
  width: 53%;
  max-width: 53%;
}
.room .room__users {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  max-width: 20%;
  background-color: #151515;
}
.room .room__users .users__user-label {
  margin: 0.2%;
}

.ui-textarea {
  background-color: #2d2d2d;
  border-color: #4f4f4f;
  transition: border-color ease-out 0.2s;
  border-width: 0.1vw;
}

.ui-textarea::-webkit-scrollbar {
  width: 7px;
  border-radius: 5px;
}

.ui-textarea::-webkit-scrollbar-track {
  background-color: #323232;
}

.ui-textarea::-webkit-scrollbar-thumb {
  background-color: #0f0f0f;
  border-radius: 5px;
}

.ui-textarea:focus {
  outline: none;
  border-color: #7a7a7a;
}

.controls {
  display: flex;
  min-height: 5vh;
  max-height: 20vh;
  justify-content: center;
  align-items: end;
}
.controls .controls__message-input {
  width: 96%;
  height: auto;
  resize: none;
  padding: 0.3em;
}
.controls .controls__buttons-wrapper {
  display: flex;
  align-items: center;
  width: 6%;
  height: 100%;
  padding: 0 1%;
}
.controls .controls__buttons-wrapper .icon-button {
  width: 1.5vw;
  height: 1.5vw;
  margin: 0 1%;
}

.message_crimson .meta__owner {
  color: crimson;
}

.message_salmon .meta__owner {
  color: salmon;
}

.message_pink .meta__owner {
  color: pink;
}

.message_coral .meta__owner {
  color: coral;
}

.message_khaki .meta__owner {
  color: khaki;
}

.message_plum .meta__owner {
  color: plum;
}

.message_purple .meta__owner {
  color: purple;
}

.message_wheat .meta__owner {
  color: wheat;
}

.message_brown .meta__owner {
  color: brown;
}

.icon-button {
  display: flex;
  align-items: center;
  position: relative;
  width: 1vw;
  height: 1vw;
  background-color: rgba(0, 0, 0, 0);
  margin: 0 1%;
  border: none;
}
.icon-button img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.message {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.message .message__meta {
  display: flex;
  align-items: center;
}
.message .message__meta > * {
  margin: 0.3% 1%;
}
.message .message__meta .meta__owner {
  font-size: 20px;
}
.message .message__meta .meta__time {
  font-size: 14px;
}
.message .message__text {
  word-break: break-all;
  padding: 0 1%;
}
.message .message__controls {
  position: absolute;
  right: 0;
  top: -5%;
  padding: 0.5%;
  background-color: #2d2d2d;
  border-radius: 15%;
}

.messages {
  overflow-y: auto;
}
.messages .messages__message {
  width: 96%;
  margin: 2%;
}

.messages::-webkit-scrollbar {
  width: 0.5vw;
}

.messages::-webkit-scrollbar-track {
  background-color: #323232;
  border-radius: 0.5vw;
}

.messages::-webkit-scrollbar-thumb {
  background-color: #0f0f0f;
  border-radius: 0.5vw;
}

.room__chat {
  display: flex;
  flex-direction: column;
}
.room__chat .chat__messages {
  height: 90%;
  max-height: 89vh;
}
.room__chat .chat__controls {
  height: 5%;
  margin: 0 2%;
  max-height: 5vh;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.login .login__credentials {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login .login__credentials .login__credentials__logo {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 7vw;
}
.login .login__credentials .login__credentials__logo img {
  width: 100%;
  height: auto;
}
.login .login__credentials .login__credentials__article {
  font-family: Aquire, sans-serif;
  font-size: 46px;
  color: #141414;
}
.login .login__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login .login__form .login__form__input {
  width: 20vw;
  padding: 0 4%;
  height: 3.7vh;
  margin: 5% 0 2.5% 0;
  outline: none;
  font-size: 22px;
  border: 0.07vw solid #2f2f2f;
  transition: border-color 200ms ease-out;
  color: #141414;
}
.login .login__form .login__form__input::placeholder {
  line-height: 3.63vh;
  font-size: 16px;
}
.login .login__form .login__form__input:hover {
  border-color: #ababab;
}
.login .login__form .login__form__input:hover::placeholder {
  opacity: 0.9;
}
.login .login__form .login__form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% 0 0 0;
  padding: 3% 6%;
  font-size: 28px;
  font-weight: bold;
  border: none;
  border-radius: 5vw;
  outline: none;
  background-color: #eeeeee;
  color: #141414;
  transition: background-color 200ms ease-out, color 200ms ease-out;
}
.login .login__form .login__form__button:hover {
  background-color: #141414;
  color: #eeeeee;
}
.login .login__validation-errors .login__validation-errors__message {
  font-size: 16px;
  animation: error-animation 1s ease-out;
}
.login .login__registration-invitation {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 12%;
  margin-top: 3%;
}
.login .login__registration-invitation .login__registration-invitation__link {
  margin-left: 0.5%;
  transition: color 200ms ease-out;
}
.login .login__registration-invitation .login__registration-invitation__link:hover {
  color: #141414;
}
@keyframes error-animation {
  0% {
    color: #ca0100;
  }
  60% {
    color: #ca0100;
  }
  100% {
    color: inherit;
  }
}

.registration {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  width: 100vw;
  height: 90vh;
  padding-top: 10vh;
}
.registration .registration__credentials {
  display: flex;
  align-items: center;
  justify-content: center;
}
.registration .registration__credentials .registration__credentials__logo {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 7vw;
}
.registration .registration__credentials .registration__credentials__logo img {
  width: 100%;
  height: auto;
}
.registration .registration__credentials .registration__credentials__article {
  font-family: Aquire, sans-serif;
  font-size: 46px;
  color: #141414;
}
.registration .registration__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.registration .registration__form .registration__form__input {
  width: 20vw;
  padding: 0 4%;
  height: 3.7vh;
  margin: 5% 0 2.5% 0;
  outline: none;
  font-size: 22px;
  border: 0.07vw solid #2f2f2f;
  transition: border-color 200ms ease-out;
  color: #141414;
}
.registration .registration__form .registration__form__input::placeholder {
  line-height: 3.63vh;
  font-size: 16px;
}
.registration .registration__form .registration__form__input:hover {
  border-color: #ababab;
}
.registration .registration__form .registration__form__input:hover::placeholder {
  opacity: 0.9;
}
.registration .registration__form .registration__form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% 0 0 0;
  padding: 3% 6%;
  font-size: 28px;
  font-weight: bold;
  border: none;
  border-radius: 5vw;
  outline: none;
  background-color: #eeeeee;
  color: #141414;
  transition: background-color 200ms ease-out, color 200ms ease-out;
}
.registration .registration__form .registration__form__button:hover {
  background-color: #141414;
  color: #eeeeee;
}
.registration .registration__validation-errors {
  padding-top: 5%;
}
.registration .registration__validation-errors .registration__validation-errors__message {
  font-size: 16px;
  animation: error-animation 1s ease-out;
}
.registration .registration__login-invitation {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}
.registration .registration__login-invitation .registration__login-invitation__link {
  margin-left: 0.5%;
  transition: color 200ms ease-out;
}
.registration .registration__login-invitation .registration__login-invitation__link:hover {
  color: #141414;
}
@keyframes error-animation {
  0% {
    color: #ca0100;
  }
  60% {
    color: #ca0100;
  }
  100% {
    color: inherit;
  }
}

.loading-spinner {
  width: 2.48vw;
  height: 2.48vw;
  border-radius: 100%;
  overflow: hidden;
  z-index: 2;
}
.loading-spinner .loading-spinner__wrapper {
  position: relative;
  width: 2vw;
  height: 2vw;
  border-radius: 100%;
  border: 0.24vw solid #4f4f4f;
  background-color: #151515;
}
.loading-spinner .loading-spinner__wrapper .loading-spinner__triangle {
  z-index: 3;
  position: absolute;
  right: -0.24vw;
  top: 0;
  transform-origin: left;
  border-left: 0 solid transparent;
  border-right: 1.25vw solid #151515;
  border-bottom: 1vw solid transparent;
  border-top: 1vw solid transparent;
  animation: animation-logo-spinner 1.2s ease;
  animation-iteration-count: infinite;
}

@keyframes animation-spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
  src: local("Verdana"), url("/source/fonts/verdana/Verdana.ttf") format("ttf");
}
@font-face {
  font-family: "Aquire";
  src: local("Aquire"), url("/source/fonts/aquire/Aquire.woff") format("woff"), url("/source/fonts/aquire/Aquire.ttf") format("ttf");
}
* {
  margin: 0;
  text-decoration: none;
  font-family: Verdana, sans-serif;
  color: #b2b3b3;
}

/*# sourceMappingURL=style.css.map */
