@import "../src/components/variables";
@import "../src/components/Header/header";
@import "../src/components/Sidebar/sidebar";
@import "../src/components/Rooms/rooms";
@import "../src/components/ContentRoutes/content-routes";
@import "../src/components/Room/room";
@import "../src/components/Room/RoomChat/room-chat";
@import "../src/components/Login/login";
@import "../src/components/Registration/registration";
@import "../src/components/UI/LoadingSpinner/loading-spinner";

@font-face {
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
  src: local("Verdana"),
  url("/source/fonts/verdana/Verdana.ttf") format("ttf")
}

@font-face {
  font-family: "Aquire";
  src: local("Aquire"),
    url('/source/fonts/aquire/Aquire.woff') format('woff'),
    url('/source/fonts/aquire/Aquire.ttf') format('ttf')
}

* {
  margin: 0;
  text-decoration: none;
  font-family: Verdana, sans-serif;
  color: $default_font_color;
}
