@import "../../../variables";

.messages {
  overflow-y: auto;

  & .messages__message {
    width: 96%;
    margin: 2%;
  }
}

.messages::-webkit-scrollbar {
  width: 10px;
}

.messages::-webkit-scrollbar-track {
  background-color: $default_scroll_bar_color;
  border-radius: 10px;
}

.messages::-webkit-scrollbar-thumb {
  background-color: $default_scroll_button_color;
  border-radius: 10px;
}