@import "MusicListItem/music-list-item";
@import "../../../variables";

.music-list {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;

  & .loading-spinner {
    position: absolute;
    animation: show-loading-animation 800ms ease-out;
    animation-fill-mode: forwards;
  }

  & .scroll-view {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 0.5vw;
    }

    &::-webkit-scrollbar-track {
      background-color: $default_scroll_bar_color;
      border-radius: 0.5vw;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $default_scroll_button_color;
      border-radius: 0.5vw;
    }
  }

  & .music-list__music-list-item {
    width: 90%;
    position: relative;
    margin: 1% 0 1% 0;
    transition: margin 200ms ease-out;
  }

  & .music-list__music-list-item:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0.5%;
    top: 0;
    background-color: $default_music_item_borders_color;
    transition: width 200ms ease-out;
  }

  & .music-list__music-list-item:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0.5%;
    bottom: 0;
    background-color: $default_music_item_borders_color;
    transition: width 200ms ease-out;
  }

  & .music-list__music-list-item:hover {
    margin: 2% 0 2% 0;
  }

  & .music-list__music-list-item:hover:before {
    width: 100%;
  }

  & .music-list__music-list-item:hover:after {
    width: 100%;
  }
}

@keyframes show-loading-animation {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}