@import "../variables";

.header {
  display: flex;
  align-items: center;
  justify-content: right;
  background-color: $header_background_color;
  height: 6vh;

  & * {
    margin: 0.5%;
  }

  & a {
    text-decoration: none;
    font-size: $header_font_size;
    color: $default_font_color;
  }
}