//color vars
$header_background_color: #111111;
$sidebar_background_color: #000000;
$default_font_color: #b2b3b3;
$rooms_labels_background_color: #3c3c3c;
$users_labels_background_color: #3c3c3c;
$main_background_color: #1e1e1e;
$room_users_background_color: #151515;
$room_playlists_background_color: #151515;
$default_scroll_bar_color: #323232;
$default_scroll_button_color: #0f0f0f;
$default_textarea_background_color: #2d2d2d;
$default_textarea_border_color: #4f4f4f;
$default_textarea_focus_border_color: #7a7a7a;

//size vars
$header_font_size: 18px;
$meta_owner_font_size : 20px;
$meta_time_font_size : 14px;