//color vars
$header_background_color: #111111;
$sidebar_background_color: #1d1d1d;
$default_font_color: #b2b3b3;
$rooms_labels_background_color: rgba(6, 6, 6, 0.8);
$users_labels_background_color: #3c3c3c;
$main_background_color: #282828;
$room_users_background_color: #151515;
$room_music_background_color: #151515;
$default_scroll_bar_color: #323232;
$default_scroll_button_color: #0f0f0f;
$default_textarea_background_color: #2d2d2d;
$default_textarea_border_color: #4f4f4f;
$default_textarea_focus_border_color: #7a7a7a;
$default_music_search_item_borders_color: #4f4f4f;
$default_music_item_borders_color: #4f4f4f;
$default_music_item_target_background_color: #4f4f4f;
$default_music_player_background_color: #151515;
$default_music_player_volume_trackbar_background_color: #4f4f4f;
$default_music_player_volume_trackbar_color: #b2b3b3;
$default_music_player_button_border_color: #4f4f4f;
$default_loading_screen_background_color: #0f0f0f;
$default_loading_screen_logo_color: #4f4f4f;
$room_music_current_music_background_color: #1b1b1b;
$room_music_current_link_underline_color: #2d2d2d;
$room_music_current_link_background_color: #2d2d2d;
$room_messages_controls_background_color: #2d2d2d;
$dialog_background_color: #0f0f0f;
$dialog_content_background_color: #1e1e1e;
$dialog_content_border_color: #4f4f4f;
$dialog_input_border_color: #4f4f4f;
$dialog_input_focus_border_color: #7a7a7a;
$dialog_main_button_background_color: #7a7a7a;
$dialog_incorrect_border_color: #ca0100;
$sidebar_room_buttons_background_color: #141414;
$login_color: #141414;
$login_input_border_color: #2f2f2f;
$login_hover_input_border_color: #ababab;
$login_button_background_color: #eeeeee;
$login_hover_button_background_color: #a2a2a2;
$login_incorrect_color: #ca0100;
$registration_color: #141414;
$registration_input_border_color: #2f2f2f;
$registration_hover_input_border_color: #ababab;
$registration_button_background_color: #eeeeee;
$registration_hover_button_background_color: #a2a2a2;
$registration_incorrect_color: #ca0100;

//size vars
$header_font_size_b: 20px;
$header_font_size_m: 14px;
$header_font_size_s: 6px;
$header_article_font_size_b: 28px;
$header_article_font_size_m: 16px;
$header_article_font_size_s: 4px;
$rooms_labels_font_size_b: 16px;
$rooms_labels_font_size_m: 10px;
$rooms_labels_font_size_s: 4px;
$music_list_item_font_size_b: 20px;
$music_list_item_font_size_m: 10px;
$music_list_item_font_size_s: 5px;
$user_list_item_font_size_b: 20px;
$user_list_item_font_size_m: 10px;
$user_list_item_font_size_s: 5px;
$meta_owner_font_size : 20px;
$meta_time_font_size : 14px;
$room_music_navbar_font_size_b: 22px;
$room_music_navbar_font_size_m: 16px;
$room_music_navbar_font_size_s: 7px;
$dialog_header_font_size: 22px;
$dialog_body_font_size: 18px;
$dialog_body_small_font_size: 14px;
$dialog_footer_font_size: 22px;
$login_credentials_article_font_size: 46px;
$login_input_font_size: 22px;
$login_input_placeholder_font_size: 16px;
$login_button_font_size: 28px;
$registration_credentials_article_font_size: 46px;
$registration_input_font_size: 22px;
$registration_input_placeholder_font_size: 16px;
$registration_button_font_size: 28px;
$room_music_font_size: 22px;