@import "RoomLabel/rooms-label";
@import "../variables";
@import "AddRoomLabel/add-room-label";
@import "AddRoomDialog/add-room-dialog";
@import "JoinRoomLabel/join-room-label";

.rooms {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  width: 100%;
}