.message_crimson {
  & .meta__owner {
    color: crimson;
  }
}

.message_salmon {
  & .meta__owner {
    color: salmon;
  }
}

.message_pink {
  & .meta__owner {
    color: pink;
  }
}

.message_coral {
  & .meta__owner {
    color: coral;
  }
}

.message_khaki {
  & .meta__owner {
    color: khaki;
  }
}

.message_plum {
  & .meta__owner {
    color: plum;
  }
}

.message_purple {
  & .meta__owner {
    color: purple;
  }
}

.message_wheat {
  & .meta__owner {
    color: wheat;
  }
}

.message_brown {
  & .meta__owner {
    color: brown;
  }
}