@import "../../../variables";
@import "message-colors";
@import "../../../UI/Button/icon-button";

.message {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  & .message__meta {
    display: flex;
    align-items: center;

    & > * {
      margin: 0.3% 1%;
    }

    & .meta__owner {
      font-size: $meta_owner_font_size;
    }

    & .meta__time {
      font-size: $meta_time_font_size;
    }
  }

  & .message__text {
    word-break: break-all;
    padding: 0 1%;
  }

  & .message__controls {
    position: absolute;
    right: 0;
    top: -5%;
    padding: 0.5%;
    background-color: $room_messages_controls_background_color;
    border-radius: 15%;
  }
}