@import "../../../variables";
@import "message-colors";

.message {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: $default_font_color;
  margin: 1% 0;

  & .message__meta {
    display: flex;
    align-items: center;

    & > * {
      margin: 0.3% 1%;
    }

    & .meta__owner {
      font-size: $meta_owner_font_size;
    }

    & .meta__time {
      font-size: $meta_time_font_size;
    }
  }

  & .message__text {
    word-break: break-all;
    padding: 0 1%;
  }
}